<div id="footer" class="full">
  <div class="grid">
    <div class="gd33">
      <div class="content-box">
        <h1>Build By 877675862</h1>
      </div>
    </div>
    <div class="gd33">
      <div class="content-box">
        <h3>联系我们</h3>
        <p>phone NO.:18798002491 </P>
          <address class="">
            贵阳市花果园国际金融中心B#2222
          </address>
      </div>
    </div>
    <div class="gd33">
      <div class="content-box">
        <h3>关注我们</h3>
        <div class="grid">
          <div class="gd50">
            <img src="" alt="微信二维码" />
            <p>
              扫码关注
            </p>
          </div>
          <div class="gd50-pull">
            <img src="" alt="微信二维码" />
            <p>
              扫码关注
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
